#div_1 {
    width: 50px;
    height: 46px;
    top: 37px;
    left: 20px;
}

#div_3 {
	width: 96px;
    height: 43px;
    top: 688px;
    left: 2px;
}

#div_4 {
	width: 121px;
    height: 46px;
	top: 688px;
	left: 144px;
}

#div_5 {
    width: 104px;
    height: 51px;
    top: 688px;
    left: 290px;
}

#div_6 {

}

#div_7 {

}

#div_8 {

}

#div_9 {

}