#div_1 {
    width: 50px;
    height: 46px;
    top: 37px;
    left: 20px;
}

#div_3 {
    width: 148px;
    height: 38px;
    top: 249px;
    left: 49px;

}

#div_4 {
    width: 170px;
    height: 62px;
    top: 578px;
    left: 30px;
    border-color: white;
    background-color: white;
    pointer-events:none
}

#div_5 {
    width: 170px;
    height: 60px;
    top: 578px;
    left: 217px;
    border-color: white;
    background-color: white;
    pointer-events:none
}

#div_6 {
	width: 105px;
	height: 51px;
	top: 669px;
	left: 2px;
}

#div_7 {
	width: 121px;
	height: 51px;
	top: 669px;
	left: 149px;
}

#div_8 {
	width: 104px;
	height: 51px;
	top: 669px;
	left: 296px;
}

#div_9 {

}

#div_10 {

}

#div_11 {

}

#div_12 {

}