#div_1 {
    width: 50px;
    height: 46px;
    top: 37px;
    left: 20px;
}

#div_3 {
	width: 85px;
    height: 83px;
    top: 175px;
    left: 245px;
}



#div_6 {
	width: 105px;
	height: 51px;
	top: 669px;
	left: 2px;
}

#div_7 {
	width: 121px;
	height: 51px;
	top: 669px;
	left: 149px;
}

#div_8 {
	width: 104px;
	height: 51px;
	top: 669px;
	left: 296px;
}

#div_9 {

}

#div_10 {

}

#div_11 {

}

#div_12 {

}