#div_1 {
    width: 50px;
    height: 46px;
    top: 35px;
    left: 30px;
}


#div_3 {
	width: 105px;
	height: 51px;
	top: 679px;
	left: 2px;
}

#div_4 {
	width: 121px;
	height: 51px;
	top: 679px;
	left: 144px;
}

#div_5 {
	width: 104px;
	height: 51px;
	top: 679px;
	left: 296px;
}

#div_6 {

}

#div_7 {

}

#div_8 {

}

#div_9 {

}