#div_1 {
    width: 62px;
    height: 46px;
    top: 38px;
    left: 24px
}

#div_2 {
    width: 151px;
    height: 45px;
    top: 121px;
    left: 21px;
}

#div_3 {
    width: 95px;
    height: 25px;
    top: 374px;
    left: 44px;
}

#div_4 {
    width: 105px;
    height: 51px;
    top: 675px;
    left: 8px;
}

#div_5 {
    width: 121px;
    height: 51px;
    top: 674px;
    left: 149px;
}

#div_6 {
	width: 104px;
    height: 51px;
    top: 674px;
    left: 296px;
}
#div_9 {
    width: 60px;
    height: 21px;
    top: 453px;
    left: 41px;
}
#div_7 {
    width: 60px;
    height: 21px;
    top: 401px;
    left: 41px;
}

#div_8 {

}


#div_10 {

}