#div_1 {
	width: 47px;
    height: 32px;
    top: 36px;
    left: 6px;
}
#div_2 {
	width: 105px;
	height: 51px;
	top: 677px;
	left: 12px;
}

#div_3 {
	width: 119px;
	height: 51px;
	top: 677px;
	left: 153px;
}

#div_4 {
	width: 105px;
	height: 51px;
	top: 677px;
	left: 300px;
	
}

#div_5 {

}

#div_6 {

}

#div_7 {

}

#div_8 {

}