#div_1 {
	width: 26px;
	height: 37px;
	top: 27px;
	left: 21px;
}

#div_2 {
	width: 168px;
	height: 43px;
	top: 591px;
	left: 16px;
}

#div_3 {
	width: 176px;
	height: 43px;
	top: 591px;
	left: 221px;
}

#div_4 {
	width: 101px;
	height: 47px;
	top: 682px;
	left: 14px;
}

#div_5 {
	width: 122px;
	height: 47px;
	top: 682px;
	left: 157px;
}

#div_6 {
	width: 99px;
	height: 47px;
	top: 682px;
	left: 306px;
}

#div_7 {
	
}

#div_8 {
	
}

#div_9 {
	
}

#div_10 {
	
}

#div_11 {
	
}

#div_12 {
	
}