#div_1 {
	width: 26px;
	height: 31px;
	top: 36px;
	left: 14px;
}

#div_2 {
	width: 106px;
	height: 52px;
	top: 616px;
	left: 295px;
}

#div_3 {
	width: 96px;
	height: 51px;
	top: 672px;
	left: 14px;
}

#div_4 {
	width: 114px;
	height: 51px;
	top: 672px;
	left: 157px;
}

#div_5 {
	width: 99px;
	height: 51px;
	top: 672px;
	left: 299px;
}

#div_6 {
	
}

#div_7 {
	
}

#div_8 {
	
}

#div_9 {
	
}

#div_10 {
	
}

#div_11 {
	
}

#div_12 {
	
}