#div_1 {
	width: 30px;
	height: 42px;
	top: 25px;
	left: 14px;
}

#div_2 {
	width: 269px;
	height: 35px;
	top: 30px;
	left: 52px;
}

#div_3 {
	width: 40px;
	height: 38px;
	top: 30px;
	left: 350px;
}

#div_4 {
	width: 303px;
	height: 338px;
	top: 199px;
	left: 43px;
}

#div_5 {
	width: 101px;
	height: 44px;
	top: 680px;
	left: 2px;
}

#div_6 {
	width: 122px;
	height: 47px;
	top: 678px;
	left: 146px;
}

#div_7 {
	width: 99px;
	height: 47px;
	top: 678px;
	left: 295px;
}

#div_8 {
	
}

#div_9 {
	
}

#div_10 {
	
}

#div_11 {
	
}

#div_12 {
	
}