#div_1 {
	width: 25px;
	height: 35px;
	top: 39px;
	left: 34px;
}

#div_2 {
	width: 368px;
	height: 95px;
	top: 226px;
	left: 20px;
}

#div_3 {
	width: 368px;
	height: 95px;
	top: 470px;
	left: 20px;
}

#div_4 {
	width: 101px;
	height: 44px;
	top: 668px;
	left: 7px;
}

#div_5 {
	width: 121px;
	height: 47px;
	top: 667px;
	left: 155px;
}

#div_6 {
	width: 103px;
	height: 47px;
	top: 666px;
	left: 302px;
}

#div_7 {
	
}

#div_8 {
	
}

#div_9 {
	
}

#div_10 {
	
}

#div_11 {
	
}

#div_12 {
	
}