#div_1 {
	width: 25px;
	height: 35px;
	top: 48px;
	left: 24px;
}

#div_2 {
	width: 112px;
	height: 58px;
	top: 113px;
	left: 52px;
}

#div_3 {
	width: 112px;
	height: 58px;
	top: 113px;
	left: 211px;
}

#div_4 {
	width: 112px;
	height: 76px;
	top: 218px;
	left: 62px;
}

#div_5 {
	width: 112px;
	height: 76px;
	top: 218px;
	left: 216px;
}

#div_6 {
	width: 101px;
	height: 44px;
	top: 680px;
	left: 2px;
}

#div_7 {
	width: 122px;
	height: 47px;
	top: 678px;
	left: 146px;
}

#div_8 {
	width: 99px;
	height: 47px;
	top: 678px;
	left: 295px;
}

#div_9 {
	
}

#div_10 {
	
}

#div_11 {
	
}

#div_12 {
	
}