#div_1 {
	width: 25px;
	height: 35px;
	top: 39px;
	left: 24px;
}

#div_2 {
	width: 265px;
	height: 40px;
	top: 620px;
	left: 60px;
}

#div_3 {
	width: 101px;
	height: 44px;
	top: 673px;
	left: 2px;
}

#div_4 {
	width: 127px;
	height: 47px;
	top: 673px;
	left: 146px;
}

#div_5 {
	width: 106px;
	height: 47px;
	top: 673px;
	left: 302px;
}

#div_6 {
	
}

#div_7 {
	
}

#div_8 {
	
}

#div_9 {
	
}

#div_10 {
	
}

#div_11 {
	
}

#div_12 {
	
}