#div_1 {
	width: 25px;
	height: 35px;
	top: 32px;
	left: 8px;
}

#div_2 {
	width: 347px;
	height: 88px;
	top: 291px;
	left: 32px;
}

#div_3 {
	width: 347px;
	height: 88px;
	top: 421px;
	left: 32px;
}

#div_4 {
	width: 101px;
	height: 44px;
	top: 686px;
	left: 13px;
}

#div_5 {
	width: 122px;
	height: 47px;
	top: 685px;
	left: 158px;
}

#div_6 {
	width: 99px;
	height: 47px;
	top: 684px;
	left: 309px;
}

#div_7 {
	
}

#div_8 {
	
}

#div_9 {
	
}

#div_10 {
	
}

#div_11 {
	
}

#div_12 {
	
}