#div_1 {
	width: 25px;
	height: 35px;
	top: 31px;
	left: 21px;
}

#div_2 {
	width: 381px;
	height: 575px;
	top: 83px;
	left: 18px;
}

#div_3 {
	width: 101px;
	height: 44px;
	top: 680px;
	left: 14px;
}

#div_4 {
	width: 122px;
	height: 47px;
	top: 680px;
	left: 155px;
}

#div_5 {
	width: 99px;
	height: 47px;
	top: 680px;
	left: 302px;
}

#div_6 {
	
}

#div_7 {
	
}

#div_8 {
	
}

#div_9 {
	
}

#div_10 {
	
}

#div_11 {
	
}

#div_12 {
	
}