#div_1 {
	width: 25px;
	height: 35px;
	top: 31px;
	left: 21px;
}

#div_2 {
	width: 269px;
	height: 34px;
	top: 29px;
	left: 52px;
}

#div_3 {
	width: 42px;
	height: 34px;
	top: 29px;
	left: 348px;
}

#div_4 {
	width: 248px;
	height: 57px;
	top: 579px;
	left: 65px;
}

#div_5 {
	width: 101px;
	height: 44px;
	top: 680px;
	left: 0px;
}

#div_6 {
	width: 122px;
	height: 47px;
	top: 680px;
	left: 144px;
}

#div_7 {
	width: 99px;
	height: 47px;
	top: 680px;
	left: 295px;
}

#div_8 {
	
}

#div_9 {
	
}

#div_10 {
	
}

#div_11 {
	
}

#div_12 {
	
}