#div_1 {
	width: 25px;
	height: 35px;
	top: 31px;
	left: 21px;
}

#div_2 {
	width: 73px;
	height: 79px;
	top: 109px;
	left: 166px;
}

#div_3 {
	width: 381px;
	height: 44px;
	top: 626px;
	left: 13px;
}

#div_4 {
	width: 101px;
	height: 44px;
	top: 680px;
	left: 13px;
}

#div_5 {
	width: 122px;
	height: 47px;
	top: 680px;
	left: 158px;
}

#div_6 {
	width: 99px;
	height: 47px;
	top: 680px;
	left: 309px;
}

#div_7 {
	
}

#div_8 {
	
}

#div_9 {
	
}

#div_10 {
	
}

#div_11 {
	
}

#div_12 {
	
}