#div_1 {
	width: 25px;
	height: 35px;
	top: 42px;
	left: 12px;
}

#div_2 {
	width: 35px;
	height: 32px;
	top: 43px;
	left: 363px;
}

#div_3 {
	width: 146px;
	height: 32px;
	top: 615px;
	left: 225px;
}

#div_4 {
	width: 101px;
	height: 46px;
	top: 672px;
	left: 15px;
}

#div_5 {
	width: 122px;
	height: 48px;
	top: 671px;
	left: 159px;
}

#div_6 {
	width: 94px;
	height: 50px;
	top: 669px;
	left: 309px;
}

#div_7 {
	
}

#div_8 {
	
}

#div_9 {
	
}

#div_10 {
	
}

#div_11 {
	
}

#div_12 {
	
}