#div_1 {
	width: 25px;
	height: 35px;
	top: 31px;
	left: 17px;
}

#div_2 {
	width: 279px;
	height: 34px;
	top: 32px;
	left: 52px;
}

#div_3 {
	width: 44px;
	height: 39px;
	top: 29px;
	left: 351px;
}

#div_4 {
	width: 396px;
	height: 485px;
	top: 149px;
	left: 4px;
}

#div_5 {
	width: 101px;
	height: 44px;
	top: 682px;
	left: 2px;
}

#div_6 {
	width: 122px;
	height: 47px;
	top: 680px;
	left: 148px;
}

#div_7 {
	width: 99px;
	height: 47px;
	top: 680px;
	left: 299px;
}

#div_8 {
	
}

#div_9 {
	
}

#div_10 {
	
}

#div_11 {
	
}

#div_12 {
	
}