#div_1 {
	width: 25px;
	height: 35px;
	top: 31px;
	left: 17px;
}

#div_2 {
	width: 271px;
	height: 34px;
	top: 31px;
	left: 56px;
}

#div_3 {
	width: 44px;
	height: 39px;
	top: 31px;
	left: 356px;
}

#div_4 {
	width: 315px;
	height: 342px;
	top: 199px;
	left: 40px;
}

#div_5 {
	width: 101px;
	height: 50px;
	top: 679px;
	left: 2px;
}

#div_6 {
	width: 122px;
	height: 51px;
	top: 679px;
	left: 148px;
}

#div_7 {
	width: 99px;
	height: 51px;
	top: 679px;
	left: 299px;
}

#div_8 {
	
}

#div_9 {
	
}

#div_10 {
	
}

#div_11 {
	
}

#div_12 {
	
}