#div_1 {
	width: 25px;
	height: 35px;
	top: 31px;
	left: 17px;
}

#div_2 {
	width: 44px;
	height: 33px;
	top: 31px;
	left: 348px;
}

#div_3 {
	width: 402px;
	height: 330px;
	top: 74px;
	left: 0px;
}

#div_4 {
	width: 177px;
	height: 39px;
	top: 591px;
	left: 220px;
}

#div_5 {
	width: 101px;
	height: 47px;
	top: 679px;
	left: 11px;
}

#div_6 {
	width: 122px;
	height: 47px;
	top: 679px;
	left: 158px;
}

#div_7 {
	width: 99px;
	height: 47px;
	top: 679px;
	left: 310px;
}

#div_8 {
	
}

#div_9 {
	
}

#div_10 {
	
}

#div_11 {
	
}

#div_12 {
	
}