#div_1 {
	width: 25px;
	height: 35px;
	top: 37px;
	left: 24px;
}

#div_2 {
	width: 400px;
	height: 394px;
	top: 108px;
	left: 1px;
}

#div_3 {
	width: 99px;
	height: 47px;
	top: 679px;
	left: 17px;
}

#div_4 {
	width: 117px;
	height: 47px;
	top: 679px;
	left: 160px;
}

#div_5 {
	width: 99px;
	height: 49px;
	top: 677px;
	left: 304px;
}

#div_6 {
	
}

#div_7 {
	
}

#div_8 {
	
}

#div_9 {
	
}

#div_10 {
	
}

#div_11 {
	
}

#div_12 {
	
}