#div_1 {
	width: 25px;
	height: 35px;
	top: 31px;
	left: 17px;
}

#div_2 {
	width: 279px;
	height: 34px;
	top: 31px;
	left: 52px;
}

#div_3 {
	width: 44px;
	height: 39px;
	top: 31px;
	left: 356px;
}

#div_4 {
	width: 381px;
	height: 148px;
	top: 107px;
	left: 16px;
}

#div_5 {
	width: 101px;
	height: 44px;
	top: 679px;
	left: 2px;
}

#div_6 {
	width: 122px;
	height: 47px;
	top: 679px;
	left: 150px;
}

#div_7 {
	width: 99px;
	height: 47px;
	top: 679px;
	left: 301px;
}

#div_8 {
	
}

#div_9 {
	
}

#div_10 {
	
}

#div_11 {
	
}

#div_12 {
	
}