#div_1 {
	width: 47px;
    height: 40px;
    top: 21px;
    left: 6px;
}

#div_2 {
    width: 197px;
    height: 40px;
    top: 615px;
    left: 115px;
    text-align: center;
}
#div_8 {
	width: 105px;
	height: 51px;
	top: 686px;
	left: 12px;
}

#div_9 {
	width: 119px;
	height: 51px;
	top: 686px;
	left: 162px;
}

#div_10 {
	width: 105px;
	height: 51px;
	top: 686px;
	left: 306px;

}

#div_11{

}

#div_12{

}

#div_13{

}

#div_14{

}