#div_1 {
    width: 47px;
    height: 46px;
    top: 27px;
    left: 15px;
}

#div_2 {
    width: 377px;
    height: 91px;
    top: 91px;
    left: 18px;
}

#div_3 {
    width: 377px;
    height: 91px;
    top: 189px;
    left: 18px;
}
#div_4 {
	width: 105px;
	height: 51px;
	top: 677px;
	left: 12px;
}

#div_5 {
	width: 119px;
	height: 51px;
	top: 677px;
	left: 162px;
}

#div_6 {
	width: 105px;
	height: 51px;
	top: 677px;
	left: 306px;
	
}

#div_7 {

}

#div_8 {

}

#div_9 {

}

#div_10 {

}