#div_1 {
    width: 47px;
    height: 41px;
    top: 27px;
    left: 15px;
}
#div_2 {
	width: 122px;
    height: 28px;
    top: 74px;
    left: 15px;
}

#div_4 {
    width: 122px;
    height: 28px;
    top: 74px;
    left: 265px;
}

#div_6 {
	width: 105px;
	height: 51px;
	top: 677px;
	left: 1px;
}

#div_7 {
	width: 119px;
	height: 51px;
	top: 677px;
	left: 150px;
}

#div_8 {
	width: 105px;
	height: 51px;
	top: 677px;
	left: 296px;
	
}

#div_9 {

}

#div_10 {

}

#div_11 {

}

#div_12 {

}