#div_1 {
    width: 47px;
    height: 46px;
    top: 27px;
    left: 15px;
}
#div_2 {
    width: 370px;
    height: 90px;
    top: 96px;
    left: 15px;
}

#div_8 {
	width: 105px;
	height: 51px;
	top: 677px;
	left: 12px;
}

#div_9 {
	width: 119px;
	height: 51px;
	top: 677px;
	left: 162px;
}

#div_10 {
	width: 105px;
	height: 51px;
	top: 677px;
	left: 306px;

}

#div_11{

}

#div_12{

}

#div_13{

}

#div_14{

}