#div_A {
    width: 40px;
    height: 46px;
    top: 25px;
    left: 7px;
}

#div_1 {
    width: 268px;
    height: 46px;
    top: 25px;
    left: 57px;
}

#div_2 {
    width: 143px;
    height: 48px;
    top: 196px;
    left: 41px;
}

#div_3 {
    width: 143px;
    height: 48px;
    top: 196px;
    left: 212px;
}

#div_4 {
    width: 143px;
    height: 48px;
    top: 273px;
    left: 41px;
}
#div_5 {
	width: 141px;
    height: 48px;
    top: 272px;
    left: 214px;
}
#div_6{
    width: 143px;
    height: 48px;
    top: 352px;
    left: 41px;
}
#div_7{
    width: 141px;
    height: 48px;
    top: 353px;
    left: 214px;
}
#div_8{
	width: 143px;
    height: 48px;
    top: 425px;
    left: 41px;
}
#div_9{
    width: 141px;
    height: 48px;
    top: 425px;
    left: 213px;
   
}
#div_10{
	width: 143px;
    height: 48px;
    top: 492px;
    left: 41px;

}
#div_11{
 	width: 141px;
    height: 48px;
    top: 492px;
    left: 213px;
}
#div_12{
	width: 105px;
	height: 51px;
	top: 677px;
	left: 2px;
}

#div_13{
	width: 119px;
	height: 51px;
	top: 677px;
	left: 149px;
}

#div_14{
	width: 105px;
	height: 51px;
	top: 677px;
	left: 296px;
}

#div_15{

}

#div_16{

}

#div_17{

}

#div_18{

}