#div_1 {
	width: 326px;
	height: 46px;
	top: 25px;
	left: 7px;
}

#div_2 {
	width: 372px;
	height: 145px;
	top: 105px;
	left: 19px;
}

#div_3 {
    width: 187px;
    height: 91px;
    top: 275px;
    left: 202px;
}

#div_4 {
    width: 179px;
    height: 90px;
    top: 275px;
    left: 19px;
}
#div_5 {
    width: 179px;
    height: 90px;
    top: 369px;
    left: 19px;
}
#div_6 {
    width: 187px;
    height: 91px;
    top: 369px;
    left: 202px;
}
#div_7 {
    width: 187px;
    height: 102px;
    top: 462px;
    left: 202px;
}
#div_8 {
    width: 179px;
    height: 102px;
    top: 462px;
    left: 19px;
}
#div_9 {
	width: 371px;
    height: 100px;
    top: 568px;
    left: 19px;
}
#div_10 {
	width: 105px;
	height: 51px;
	top: 677px;
	left: 2px;
}

#div_11 {
	width: 119px;
	height: 51px;
	top: 677px;
	left: 149px;
}

#div_12 {
	width: 105px;
	height: 51px;
	top: 677px;
	left: 296px;
}

#div_13 {

}

#div_14 {

}

#div_15 {

}

#div_16 {

}