#div_1 {
    width: 44px;
    height: 36px;
    top: 39px;
    left: 21px;
}

#div_2 {
    width: 388px;
    height: 147px;
    top: 105px;
    left: 13px;
}

#div_3 {
    width: 388px;
    height: 64px;
    top: 257px;
    left: 13px;
}

#div_4 {
    top: 324px;
    left: 13px;
    height: 63px;
    width: 387px;
}

#div_5 {
    top: 389px;
    left: 13px;
    height: 67px;
    width: 387px;
}

#div_6 {
	top: 459px;
    left: 13px;
    height: 61px;
    width: 387px;
}

#div_7 {
    top: 524px;
    left: 13px;
    height: 67px;
    width: 387px;
}

#div_8 {
    top: 594px;
    left: 13px;
    height: 61px;
    width: 387px;
}

#div_9 {
    width: 118px;
    height: 49px;
    top: 673px;
    left: 153px;
}

#div_10 {
    width: 105px;
    height: 49px;
    top: 669px;
    left: 293px;
}

#div_11 {
    width: 107px;
    height: 49px;
    top: 673px;
    left: 9px;
}
