.click_div {
	position: absolute;
	cursor: pointer;
/* 	border: 3px solid rgb(255, 20, 147); */
	border-radius: 3px;
	z-index: 100;
}

.click_div:hover {
	background-color: #ddd;
	opacity: 0.5;
	border-radius: 3px;
}

.img_title {
	position: absolute;
	height: 25px;
	width: 414px;
	left: 0;
	top: 0;
}

.img_main {
	position: absolute;
	height: 714px;
	width: 414px;
	left: 0;
	top: 25px;
}